.accordion {
    border-radius: 12px;
    box-shadow: 0 2px 14px 0 #ebf1fb;
    background-color: #ebf1fb;
    padding: 44px 44px 35px 124px;
    max-width: 1040px;
    margin: 20px auto;
}
.as-accordion-head {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    color: #333;
    width: 100%;
    cursor: pointer;
}
.as-accordion-head:hover {
    color: #0070c9;
}

.as-accordion-title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.07px;
    color: #3a75d9;
}

.as-accordion-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 50px;
    font-weight: 100;
    -webkit-transform: translateY(0px) rotate(45deg) scale(0.8);
    transform: translateY(0px) rotate(45deg) scale(0.8);
    line-height: 0;
    border: 1px solid #7427E6;
    border-radius: 50%;
    box-sizing: border-box;
    color: #7427E6;
    position: absolute;
    right: 0;
    bottom: 35px;
}
.as-accordion-close.open {
    display: flex;
    background: #7427E6;
    color: white;
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(-3px) translateY(-2px) rotate(0deg) scale(1);
    transform: translateX(-3px) translateY(-2px) rotate(0deg) scale(1);
}

.as-accordion-collapse {
    position: relative;
    display: none;
    margin: 0;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.32px;
    color: #10233E;
}

.as-accordion-collapse-info {
    margin-top: 30px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.32px;
    color: #10233E;
}

.as-accordion-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 178px;
    width: 100%;
}

.as-accordion-icons-title {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.26px;
    color: #60738E;
    margin: 0;
}

.as-accordion-icons-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.26px;
    color: #7427E6;
    margin: 0 0 0 -35px;
}
